@tailwind base;
@tailwind components;
@tailwind utilities;


.app-body{
  @apply max-w-7xl w-screen mx-auto min-h-screen h-screen
}
.app-parent{
  @apply flex  flex-col  my-Box  overflow-y-hidden h-full items-center  w-screen max-w-7xl mx-auto
}
.app-child{
  @apply flex flex-col px-1 my-Box  overflow-y-auto w-screen max-w-7xl overflow-x-hidden pt-[50px]
}
.nav{
  @apply w-full flex flex-row justify-between fixed top-0   my-Box h-12 items-center z-50  border-black border-b-[1px] bg-white px-1
}
.nav-menu{
  @apply lg:flex lg:flex-row  gap-x-3 h-12 px-6 items-center hidden
}
.nav-links{
  @apply flex flex-row-reverse text-black gap-x-2 items-center 
}
.nav-links-text{
 @apply font-semibold flex h-full items-center  text-base
}
.nav-links-icon{
@apply w-[20px]  h-[20px]  flex items-center  
}
.toggle-btn{
@apply flex h-12 w-12  items-center justify-center
}
.sidebar-content{
  @apply flex flex-col my-Box w-[full] right-0  h-fit bg-white text-black top-12 fixed z-50 pt-1 
}
.sidebar-menu-links{
  @apply flex flex-row justify-between border h-10 shadow-sm px-4 md:px-[4px] gap-x-[8px] md:font-semibold  md:text-[15px] items-center lg:flex-row-reverse lg:shadow-none lg:border-none
}
.icons-logos{
  @apply flex justify-between flex-row-reverse gap-x-4 items-center font-bold
}
.hero-grid{
  @apply flex h-fit my-Box  overflow-y-auto p-4 absolute flex-wrap gap-x-4 gap-y-4 
}
.hero-link{
  @apply flex flex-col shadow-lg rounded-3xl relative h-60 w-screen px-4 sm:max-w-[300px] sm:max-h-[200px]  pt-4 justify-between
}
.hero-div{
  @apply flex 
}
.hero-span{
  @apply flex relative sm:text-base  text-lg tracking-wider translate-x-[-50%] bg-[rgba(255,255,255,0.6)] rounded-3xl mb-1 h-fit  text-center my-Box text-blue-950 left-[50%]  z-20  font-bold px-4
}
.hero-img{
  @apply flex relative rounded-3xl translate-x-[-1%] bg-[rgba(255,255,255,0.6)] 
}









































































































































































































.my-Box {
  width: 100%;
  max-width: 1280px;
}
@media (min-width: 0px) and (max-width: 100px) {
  .my-Box {
    max-width: 100px;
  }
}
@media (min-width: 101px) and (max-width: 200px) {
  .my-Box {
    max-width: 200px;
  }
}
@media (min-width: 101px) and (max-width: 200px) {
  .my-Box {
    max-width: 200px;
  }
}
@media (min-width: 201px) and (max-width: 300px) {
  .my-Box {
    max-width: 300px;
  }
}
@media (min-width: 301px) and (max-width: 400px) {
  .my-Box {
    max-width: 400px;
  }
}
@media (min-width: 401px) and (max-width: 410px) {
  .my-Box {
    max-width: 410px;
  }
}
@media (min-width: 411px) and (max-width: 420px) {
  .my-Box {
    max-width: 420px;
  }
}
@media (min-width: 421px) and (max-width: 430px) {
  .my-Box {
    max-width: 430px;
  }
}
@media (min-width: 431px) and (max-width: 440px) {
  .my-Box {
    max-width: 440px;
  }
}
@media (min-width: 441px) and (max-width: 450px) {
  .my-Box {
    max-width: 450px;
  }
}
@media (min-width: 451px) and (max-width: 460px) {
  .my-Box {
    max-width: 460px;
  }
}
@media (min-width: 461px) and (max-width: 470px) {
  .my-Box {
    max-width: 470px;
  }
}
@media (min-width: 471px) and (max-width: 480px) {
  .my-Box {
    max-width: 480px;
  }
}
@media (min-width: 481px) and (max-width: 490px) {
  .my-Box {
    max-width: 490px;
  }
}
@media (min-width: 491px) and (max-width: 500px) {
  .my-Box {
    max-width: 500px;
  }
}
@media (min-width: 501px) and (max-width: 600px) {
  .my-Box {
    max-width: 600px;
  }
}
@media (min-width: 601px) and (max-width: 700px) {
  .my-Box {
    max-width: 700px;
  }
}
@media (min-width: 701px) and (max-width: 800px) {
  .my-Box {
    max-width: 800px;
  }
}
@media (min-width: 801px) and (max-width: 900px) {
  .my-Box {
    max-width: 900px;
  }
}
@media (min-width: 901px) and (max-width: 1000px) {
  .my-Box {
    max-width: 1000px;
  }
}
@media (min-width: 1001px) and (max-width: 1100px) {
  .my-Box {
    max-width: 1100px;
  }
}
@media (min-width: 1101px) and (max-width: 1200px) {
  .my-Box {
    max-width: 1200px;
  }
}
@media (min-width: 1201px) and (max-width: 1280px) {
  .my-Box {
    max-width: 1280px;
  }
}
@font-face {
  font-family: 'cvt-var';
  src: url('/fonts/cvt/cvt-mid.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'etb-var';
  src: url('/fonts/etb/etb-mid.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'exo-var';
  src: url('/fonts/exo/exo-var.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'exo2-var';
  src: url('/fonts/exo2/exo2-var.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'kalam-bold';
  src: url('/fonts/kalam/kalam-bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'kalam-reg';
  src: url('/fonts/kalam/kalam-reg.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'kalam-thin';
  src: url('/fonts/kalam/kalam-thin.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'php-reg';
  src: url('/fonts/php/php-reg.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'php-bold';
  src: url('/fonts/php/php-bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'orb-var';
  src: url('/fonts/orb/orb-var.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'rbt-bold';
  src: url('/fonts/rbt/rbt-bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'rbt-mid';
  src: url('/fonts/rbt/rbt-mid.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'rbt-reg';
  src: url('/fonts/rbt/rbt-reg.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'yi-var';
  src: url('/fonts/yi/yi-var.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}




